$def with (room)

<div class="content_top">
    <h1>$room.namef</h1>
</div>

<div class="content_instance">
    
    <img src="$room.imgone" alt="chapter image" >
                
    <div class="content_right">
    <p style="margin-top:0px; margin-bottom:10px; margin-right:15px">$room.descriptionf</p>
    <p style="margin-top:0px; margin-bottom:10px; margin-right:15px">$room.complementf</p>
    <p style="margin-top:0px; margin-bottom:10px; margin-right:15px">
    $if room.name != "Epilogue":
    	<em>Entre ton choix: </em>
    </p>
    <p style="margin-top:0px; margin-bottom:10px; margin-right:15px">$room.choicesf</p>
    $if room.name == "Epilogue":
        <p><a href="/f">Rejouer ?</a></p>
    $else:
        <form action="/jeu" method="POST">
            <input type="text" name="action"> <input type="SUBMIT">
        </form>
        <p><a href="/f">Recommencer ?</a></p>
    <p style="margin-top:0px; margin-bottom:10px; margin-right:15px"><a href="/">Read the story in English ?</a></p>
    <img style="width:30px; height:auto; margin-top:10px; margin-bottom:10px; margin-left:130px; margin-right:10px; position:static" src="$room.imgtwo" alt="chapter icon" >
    </div>
    
</div>
